@media screen and (max-width:700px){
  #header-top{
    height: 10rem;
position: fixed;
top: 0;
  }
  #headercnt{
    flex-direction: column;
  width: 100%;
  }
  #header-main{
    height: 100vh;
  width: 100%;
  }
#logo{
  margin: 0 auto;
width: 20rem;
padding-top: 2rem;
padding-bottom:2rem;
}
#navmenu{
  justify-content: space-around;
padding: 0;
width: 100%;
}
#navmenu li{
padding:0;
}
#navmenu li a{
  font-size:1.3rem
}
.content{
  display: block;
}
.aboutimg1{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.cnt{
  width: 100%;
}
.abouttext{
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  line-height: 2;
}
#services{
  padding-top: 3rem;
}
.cnt-service{
width: 100%;
margin-bottom: 5rem;
}
.skillmenu{
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skillmenu li{
  margin-top: 1.6rem;
}
.workimg{
  height: auto;
}
.sample5 .caption{
  display: block;
  text-align: center;
  margin-top: 8rem;
	font-size:2.2rem;
  color:	#fff;
  padding: 1rem 0;
  background-color: rgba(0,0,0,0.7);
}
#typewritter{
font-size: 4rem;
}

.contactform{
  width: 80%;
}
.inputs{
  width: 80%;
}
.label{
  font-size: 1.5rem;
}
}