
@charset"utf-8";
*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
font-size:10px;
}
body{
width: 100%;
background-color: rgb(243, 243, 243);
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
#header-top{
  width: 100%;
height: 15rem;
background-color:rgba(255, 255, 255, 1);
z-index: 999;
box-shadow:2px 2px 6px gray;
}

.content{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
#headercnt{
  width: 80%;
  display: flex;
  justify-content:space-between;
  align-items: center;

}
#logo{
width: 30rem;

}
#navmenu{
  display: flex;
  justify-content: end;
 padding-top: 10rem;
}
#navmenu li{
  padding-left: 5rem;
}
#navmenu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
  opacity: 0.8;
  font-weight: 400;
  font-family: 'Lato',sans-serif;
}
#navmenu li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
#navmenu li a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}
#header-main{
  position: relative;
  width: 100%;
  height: 100vh;
background-image: url(img/main.jpg);
background-size: cover;
}
#header-main::before{
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.2);
}

#title1,#title2,#title3,#title4{
font-family:'Lato', sans-serif;
font-size: 4rem;
font-weight: 100;
  margin: 0 auto;
  padding:10rem 3rem;
text-align: center;
}
#skill{
  display: flex;
  margin-top: 3rem;
  width: 100%;
}
.cnt{
width: 50%;
height: auto;
}
.aboutimg1{
position: relative;
width: 40%;
height: 80%;
  margin-top: 5rem;
  border-radius: 0.3rem;
}

.abouttitle{
 margin-top: 2rem;
  font-size: 2.5rem;
  font-weight:500 ;
  text-align: center;
  opacity: 0.7;
}
.abouttext{
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
 line-height: 3rem;
 opacity: 0.7;
 width: 90%;
 margin: 0 auto;
}
/* サービスカード */
.cnt-service{
  background-color:rgb(255, 255, 255);
border-radius: 0.5rem;
  width: 28rem;
  height: 40rem;
position: relative;
z-index: 1;
border-radius: 0.;
}
.cnt-service::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    content: '';
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    border-radius: 0.5rem;
  }

.directionja{
  font-size: 2.5rem;
  font-family:  游ゴシック, "Yu Gothic", YuGothic, HiraKakuProN-W3, メイリオ, Meiryo, sans-serif;
  font-weight: 400;
  opacity: 0.6;
  text-align: center;
}
.directionen{
  font-size: 1.5rem;
  opacity: 0.3;
  text-align: center;
}
.icon{
  text-align: center;
 margin-top:5rem;
 margin-bottom: 5rem;
 color: rgba(0,0,0,0.6);
}
.servicetext{
 margin: 0 auto;
 width: 90%;
  font-size: 1.3rem;
  line-height: 2.3rem;
  margin-top: 2rem;
  opacity: 0.8;
  font-family:  游ゴシック, "Yu Gothic", YuGothic, HiraKakuProN-W3, メイリオ, Meiryo, sans-serif;
}
/* スキル */
.skillmenu{
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
.skillmenu li{
  border-radius: 0.5rem;
font-size: 1.3rem;
padding: 1rem;
box-shadow: 1px 1px 4px;
}
#works{
  width: 100%;
  height: auto;
}
.workimg{
  width: 100%;
  height:39rem;
  border: 1px solid rgb(175, 175, 175);
}

.sample5 {
  position: relative;
	width:100%;
	height:auto;
  overflow:hidden;
 margin-top: 3rem;

}
.sample5 .caption{
  display: block;
  text-align: center;
  margin-top: 17rem;
	font-size:2.2rem;
  color:	#fff;
  padding: 1rem 0;
  background-color: rgba(0,0,0,0.7);
}
.sample5 .mask {
	width:100%;
	height:100%;
	position:	absolute;
  top:0;
	left:0;
	background-color:	rgba(0,0,0,0.6);
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
	-webkit-transform:	scale(0);	/* 大きさを０にして表示しない */
	transform:		scale(0);
}
.sample5:hover .mask {
	-webkit-transform:	scale(1);	/* 大きさを１にして表示する */
	transform:	scale(1);
}


.contactform{
  display: block;
  width: 40%;
  height: auto;
  text-align: center;
 background-image: url(img/main.jpg);
 background-size: cover;
 border-radius:1rem;
 margin-bottom: 10rem;
 position: relative;
}

.contactform::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  z-index: -1;
  content: '';
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
  border-radius: 100px / 15px
}

.label{
  font-size: 2rem;
  color: #fff;
}
.item{
padding-top: 5rem;
padding-bottom: 3rem;
}
.inputs{
  font-size: 2rem;
  width: 30rem;
  height: 4rem;
  border-radius: 1rem;
  border:1px  solid #333;
}
::placeholder{
color: rgb(206, 206, 206);
}
.area3{
height: 10rem;
}
.btn-area{
text-align: center;
padding-bottom: 3rem;
}
input[type="submit"]{
border-radius: 1rem;
padding:1rem 2rem ;
margin-right: 2rem;
text-align: center;
border: none;
font-size: 2rem;
box-shadow: 4px 4px 8px;
background-color: white;
}
input[type="reset"]{
font-size: 1.5rem;
border: none;

border-radius: 0.5rem;
box-shadow: 4px 4px 8px ;
background-color: white;
}
footer{
  height: 6rem;
  width: 100%;
background-color:grey;
display: flex;
justify-content: center;
align-items: center;
}
/* フェードインアニメーション */
.fadein {
  opacity : 0;
  transform : translate(0, 50px);
  transition : 1s;
}
.fadein.scrollin {
  opacity : 1;
  transform : translate(0, 0);
}
/* タイプライター */

#typewritter {
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);

  text-align: center;
  color: white;
opacity: 0.8;
  font-size: 6.5em;
  margin: 0;
  }
  .ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
  }

  @keyframes blink {
      100% {
          opacity: 0;
      }
  }

  @-webkit-keyframes blink {
      100% {
          opacity: 0;
      }
  }

  @-moz-keyframes blink {
      100% {
          opacity: 0;
      }
  }

  @import url(https://fonts.googleapis.com/css?family=Raleway:300);
  @import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
